@media screen and ( max-width: 992px ) {
    .blau-logo {
        top: -10px;
        left: -10px;
    }

    #open-menu {
        margin-left: 20%;
        position: absolute;
        top: 20px;
        left: 15px;
    }

    .blau-menu-open {
        position: absolute;
        top: 25px;
        left: 10px;
    }

    .blau-menu-open ul li {
        float: none;
        padding: 5px;
    }

    .blau-blog-text-item-p {
        width: 50%;
        margin-left: 25%;
    }

    #designer-information-item-p-1 {
        color: #ffffff;
        padding: 15px;
    }
}